header {
  background-color: #735953;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0 4rem;
}

.logo {
  width: 100px;
}

.navigator {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
}

.navigator > a {
  color: #EBEEF2;
  text-decoration: none;
  font-weight: 700;
  transition: 0.4s;
}

.navigator > a:hover {
  box-shadow: 0 2px 0 #EBEEF2;
}

.container {
  background-color: #D9CDA9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100vw;
  height: 80vh;
  padding: 5rem 12rem;
}

.title {
  font-size: 4rem;
}

.container > p {
  color: #FF2839;
}

.product-image {
  background: transparent;
  width: 60%;
  max-width: 400px;
  transition: 0.4s;
  margin-right: 4rem;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.product-image:hover {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: mousein;
          animation-name: mousein;
}

.details-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 20vh;
}

.details-area > button {
  background-color: #EBEEF2;
  color: #D9CDA9;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid #EBEEF2;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
  transition: 0.5s;
  cursor: pointer;
}

.details-area > button:hover,
.details-area > button:focus {
  box-shadow: inset 200px 0 #D9CDA9;
  color: #EBEEF2;
}

@-webkit-keyframes mousein {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(20px, -20px);
    rotate: 8deg;
  }
  66% {
    transform: translate(-5px, -30px);
    rotate: -3deg;
  }
  100% {
    transform: translate(0px, 0px);
    rotate: 0deg;
  }
}

@keyframes mousein {
  0% {
    transform: translate(0px, 0px);
  }
  33% {
    transform: translate(20px, -20px);
    rotate: 8deg;
  }
  66% {
    transform: translate(-5px, -30px);
    rotate: -3deg;
  }
  100% {
    transform: translate(0px, 0px);
    rotate: 0deg;
  }
}
footer {
  background-color: #A69286;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

.background-image {
  width: 2.5rem;
  position: absolute;
  top: 80%;
  left: 2rem;
  transition: 1s;
  -webkit-animation: slidein 20s linear infinite;
          animation: slidein 20s linear infinite;
}

.background-image.top {
  width: 3.5rem;
  top: 10%;
  left: 90%;
}

@-webkit-keyframes slidein {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(10px, 35px);
    rotate: 20deg;
  }
  66% {
    transform: translate(20px, 15px);
    rotate: -40deg;
  }
  100% {
    transform: translate(0, 0);
    rotate: 0;
  }
}

@keyframes slidein {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(10px, 35px);
    rotate: 20deg;
  }
  66% {
    transform: translate(20px, 15px);
    rotate: -40deg;
  }
  100% {
    transform: translate(0, 0);
    rotate: 0;
  }
}/*# sourceMappingURL=styles.css.map */